## Import The Data And Read

In [32]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [33]:

import numpy as np
import pandas as pd

In [34]:
df=pd.read_csv("/content/Movie_2BAssignment_2BData_(2).csv")
df.head()

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           NaN                     0

[5 rows x 28 columns]

Inspect the dataframe's columns, shapes, variable types etc.

In [35]:
# Check the number of rows and columns in the dataframe
df.shape

(5043, 28)

In [36]:
# Check the column-wise info of the dataframe
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [37]:
df.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [38]:
# Get a summary of the dataframe using 'describe()'
df.describe()

       num_critic_for_reviews     duration  ...  aspect_ratio  movie_facebook_likes
count             4993.000000  5028.000000  ...   4714.000000           5043.000000
mean               140.194272   107.201074  ...      2.220403           7525.964505
std                121.601675    25.197441  ...      1.385113          19320.445110
min                  1.000000     7.000000  ...      1.180000              0.000000
25%                 50.000000    93.000000  ...      1.850000              0.000000
50%                110.000000   103.000000  ...      2.350000            166.000000
75%                195.000000   118.000000  ...      2.350000           3000.000000
max                813.000000   511.000000  ...     16.000000         349000.000000

[8 rows x 16 columns]


# Cleaning the Data
 **Inspect Null values**
 
Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round-off the percentages upto two decimal places.

In [39]:
# Get the column-wise Null count using 'is.null()' alongwith the 'sum()' function

df.isnull().sum()       # df.isnull().sum(axis=0)

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [40]:
# Get the row-wise Null count the same way. This time just specify the axis as 1

df.isnull().sum(axis=1)

0        0
1        0
2        0
3        0
4       14
        ..
5038     4
5039     5
5040     4
5041     2
5042     0
Length: 5043, dtype: int64

In [41]:
# Get the percentages by dividing the sum obtained previously by the total length, multiplying it by 100 and rounding it off to
# two decimal places

round(100*df.isnull().sum()/len(df), 2)

color                         0.38
director_name                 2.06
num_critic_for_reviews        0.99
duration                      0.30
director_facebook_likes       2.06
actor_3_facebook_likes        0.46
actor_2_name                  0.26
actor_1_facebook_likes        0.14
gross                        17.53
genres                        0.00
actor_1_name                  0.14
movie_title                   0.00
num_voted_users               0.00
cast_total_facebook_likes     0.00
actor_3_name                  0.46
facenumber_in_poster          0.26
plot_keywords                 3.03
movie_imdb_link               0.00
num_user_for_reviews          0.42
language                      0.24
country                       0.10
content_rating                6.01
budget                        9.76
title_year                    2.14
actor_2_facebook_likes        0.26
imdb_score                    0.00
aspect_ratio                  6.52
movie_facebook_likes          0.00
dtype: float64


** Drop unecessary columns**

I analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [42]:
# Use the 'drop()' function to drop the unnecessary columns

df = df.drop(['color', 
              'director_facebook_likes', 
              'actor_3_facebook_likes', 
              'actor_1_facebook_likes', 
              'cast_total_facebook_likes', 
              'actor_2_facebook_likes', 
              'duration', 
              'facenumber_in_poster', 
              'content_rating', 
              'country', 
              'movie_imdb_link', 
              'aspect_ratio',
              'plot_keywords',
              'actor_2_name',
              'actor_3_name'], 
             axis = 1)
df

          director_name  ...  movie_facebook_likes
0         James Cameron  ...                 33000
1        Gore Verbinski  ...                     0
2            Sam Mendes  ...                 85000
3     Christopher Nolan  ...                164000
4           Doug Walker  ...                     0
...                 ...  ...                   ...
5038        Scott Smith  ...                    84
5039                NaN  ...                 32000
5040   Benjamin Roberds  ...                    16
5041        Daniel Hsia  ...                   660
5042           Jon Gunn  ...                   456

[5043 rows x 13 columns]

In [43]:
df.shape

(5043, 13)

In [44]:
round(100*df.isnull().sum()/len(df), 2)

director_name              2.06
num_critic_for_reviews     0.99
gross                     17.53
genres                     0.00
actor_1_name               0.14
movie_title                0.00
num_voted_users            0.00
num_user_for_reviews       0.42
language                   0.24
budget                     9.76
title_year                 2.14
imdb_score                 0.00
movie_facebook_likes       0.00
dtype: float64

 Drop unecessary rows using columns with high NaN percentages
 
On inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [45]:
# Since 'gross' and 'budget' columns have large number of NaN values, drop all the rows with NaNs at this column using the

movies = df.dropna(subset = ['gross','budget'])
movies

          director_name  ...  movie_facebook_likes
0         James Cameron  ...                 33000
1        Gore Verbinski  ...                     0
2            Sam Mendes  ...                 85000
3     Christopher Nolan  ...                164000
5        Andrew Stanton  ...                 24000
...                 ...  ...                   ...
5033      Shane Carruth  ...                 19000
5034   Neill Dela Llana  ...                    74
5035   Robert Rodriguez  ...                     0
5037       Edward Burns  ...                   413
5042           Jon Gunn  ...                   456

[3891 rows x 13 columns]

In [46]:
# Inspecting the percentages of NaN

round(100*(movies.isnull().sum()/len(movies.index)), 2)

director_name             0.00
num_critic_for_reviews    0.03
gross                     0.00
genres                    0.00
actor_1_name              0.08
movie_title               0.00
num_voted_users           0.00
num_user_for_reviews      0.00
language                  0.08
budget                    0.00
title_year                0.00
imdb_score                0.00
movie_facebook_likes      0.00
dtype: float64

In [47]:
movies.isnull().sum()

director_name             0
num_critic_for_reviews    1
gross                     0
genres                    0
actor_1_name              3
movie_title               0
num_voted_users           0
num_user_for_reviews      0
language                  3
budget                    0
title_year                0
imdb_score                0
movie_facebook_likes      0
dtype: int64

## Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [48]:
# Inspect the language column of the dataset

movies['language'].describe()

count        3888
unique         38
top       English
freq         3707
Name: language, dtype: object

In [49]:
# Fill the NaN values with 'English' since most of the movies are in the English language

movies["language"].fillna("English", inplace = True)
movies

          director_name  ...  movie_facebook_likes
0         James Cameron  ...                 33000
1        Gore Verbinski  ...                     0
2            Sam Mendes  ...                 85000
3     Christopher Nolan  ...                164000
5        Andrew Stanton  ...                 24000
...                 ...  ...                   ...
5033      Shane Carruth  ...                 19000
5034   Neill Dela Llana  ...                    74
5035   Robert Rodriguez  ...                     0
5037       Edward Burns  ...                   413
5042           Jon Gunn  ...                   456

[3891 rows x 13 columns]

In [50]:
movie = movies.dropna() 

movie.isnull().sum()

director_name             0
num_critic_for_reviews    0
gross                     0
genres                    0
actor_1_name              0
movie_title               0
num_voted_users           0
num_user_for_reviews      0
language                  0
budget                    0
title_year                0
imdb_score                0
movie_facebook_likes      0
dtype: int64

In [51]:
# Get the number of retained rows using 'len()'
# Get the percentage of retained rows by dividing the current number of rows with initial number of rows

print(len(movie))
print(len(movie)/5043)

3887
0.7707713662502479

## Data Analysis

Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [52]:
# Divide the 'gross' and 'budget' columns by 1000000 to convert '$' to 'million $'

movie['gross'] = movie['gross']/1000000
movie['budget'] = movie['budget']/1000000
movie

          director_name  ...  movie_facebook_likes
0         James Cameron  ...                 33000
1        Gore Verbinski  ...                     0
2            Sam Mendes  ...                 85000
3     Christopher Nolan  ...                164000
5        Andrew Stanton  ...                 24000
...                 ...  ...                   ...
5033      Shane Carruth  ...                 19000
5034   Neill Dela Llana  ...                    74
5035   Robert Rodriguez  ...                     0
5037       Edward Burns  ...                   413
5042           Jon Gunn  ...                   456

[3887 rows x 13 columns]

 **Find the movies with highest profit**

In [53]:
# Create the new column named 'profit' by subtracting the 'budget' column from the 'gross' column

movie['profit'] = movie['gross'] - movie['budget']
movie

          director_name  ...      profit
0         James Cameron  ...  523.505847
1        Gore Verbinski  ...    9.404152
2            Sam Mendes  ...  -44.925825
3     Christopher Nolan  ...  198.130642
5        Andrew Stanton  ... -190.641321
...                 ...  ...         ...
5033      Shane Carruth  ...    0.417760
5034   Neill Dela Llana  ...    0.063071
5035   Robert Rodriguez  ...    2.033920
5037       Edward Burns  ...   -0.004416
5042           Jon Gunn  ...    0.084122

[3887 rows x 14 columns]

In [71]:
# Sort the dataframe with the 'profit' column as reference using the 'sort_values' function. Make sure to set the argument
# 'ascending' to 'False'

movie = movie.sort_values(by = 'profit', ascending = False)
movie

         director_name  num_critic_for_reviews  ...    genre_1    genre_2
0        James Cameron                   723.0  ...     Action  Adventure
29     Colin Trevorrow                   644.0  ...     Action  Adventure
26       James Cameron                   315.0  ...      Drama    Romance
3024      George Lucas                   282.0  ...     Action  Adventure
3080  Steven Spielberg                   215.0  ...     Family     Sci-Fi
...                ...                     ...  ...        ...        ...
2334   Katsuhiro Ôtomo                   105.0  ...     Action  Adventure
2323    Hayao Miyazaki                   174.0  ...  Adventure  Animation
3005      Lajos Koltai                    73.0  ...      Drama    Romance
3859    Chan-wook Park                   202.0  ...      Crime      Drama
2988      Joon-ho Bong                   363.0  ...     Comedy      Drama

[3852 rows x 16 columns]

In [55]:
# Get the top 10 profitable movies by using position based indexing. Specify the rows till 10 (0-9)

top10 = movie.iloc[:10, ]
top10

          director_name  ...      profit
0         James Cameron  ...  523.505847
29      Colin Trevorrow  ...  502.177271
26        James Cameron  ...  458.672302
3024       George Lucas  ...  449.935665
3080   Steven Spielberg  ...  424.449459
794         Joss Whedon  ...  403.279547
17          Joss Whedon  ...  403.279547
509        Roger Allers  ...  377.783777
240        George Lucas  ...  359.544677
66    Christopher Nolan  ...  348.316061

[10 rows x 14 columns]

** Drop duplicate values**

After you found out the top 10 profiting movies, you might have noticed a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat.

In [56]:
# Drop the duplicate values using 'drop_duplicates' function. All the columns for duplicate rows need to be dropped and thus,
# the 'subset' argument is set to 'None'. The 'keep = first' indicates to retain the first row among the duplicate rows, and
# 'inplace = True' performs the operation on the dataframe in place.

movie.drop_duplicates(subset = None, keep = 'first', inplace = True)
movie

         director_name  ...        profit
0        James Cameron  ...    523.505847
29     Colin Trevorrow  ...    502.177271
26       James Cameron  ...    458.672302
3024      George Lucas  ...    449.935665
3080  Steven Spielberg  ...    424.449459
...                ...  ...           ...
2334   Katsuhiro Ôtomo  ...  -2127.109510
2323    Hayao Miyazaki  ...  -2397.701809
3005      Lajos Koltai  ...  -2499.804112
3859    Chan-wook Park  ...  -4199.788333
2988      Joon-ho Bong  ... -12213.298588

[3852 rows x 14 columns]

In [57]:
# Get the top 10 profitable movies by using position based indexing. Specify the rows till 10 (0-9)

top10 = movie.iloc[:10, ]
top10

          director_name  ...      profit
0         James Cameron  ...  523.505847
29      Colin Trevorrow  ...  502.177271
26        James Cameron  ...  458.672302
3024       George Lucas  ...  449.935665
3080   Steven Spielberg  ...  424.449459
794         Joss Whedon  ...  403.279547
509        Roger Allers  ...  377.783777
240        George Lucas  ...  359.544677
66    Christopher Nolan  ...  348.316061
439           Gary Ross  ...  329.999255

[10 rows x 14 columns]

## Find IMDb Top 250

1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
  
   2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [58]:
# Sort the movies by IMDb score
# Retain the movies with 'num_voted_users' greater than 25000
# Use position based indexing to get the first 250 rows in the sorted dataframe
# Create a new column rank which contains the rank from 1 to 250

IMDb_Top_250 = movie.sort_values(by = 'imdb_score', ascending = False)
IMDb_Top_250 = IMDb_Top_250.loc[IMDb_Top_250.num_voted_users > 25000]
IMDb_Top_250 = IMDb_Top_250.iloc[:250, ]
IMDb_Top_250['Rank'] = range(1,251)
IMDb_Top_250

             director_name  num_critic_for_reviews  ...      profit Rank
1937        Frank Darabont                   199.0  ...    3.341469    1
3466  Francis Ford Coppola                   208.0  ...  128.821952    2
66       Christopher Nolan                   645.0  ...  348.316061    3
2837  Francis Ford Coppola                   149.0  ...   44.300000    4
4498          Sergio Leone                   181.0  ...    4.900000    5
...                    ...                     ...  ...         ...  ...
2605               Ang Lee                   287.0  ...  113.067808  246
639           Michael Mann                   209.0  ...  -39.034803  247
525         Alfonso Cuarón                   372.0  ...  -40.713572  248
927         Andrew Adamson                   212.0  ...  207.652016  249
3510           Yash Chopra                    29.0  ...   -4.078262  250

[250 rows x 15 columns]

In [59]:
# Get the non-English language films using conditional label based indexing

Top_Foreign_Lang_Film = IMDb_Top_250.loc[IMDb_Top_250['language'] != 'English']
Top_Foreign_Lang_Film

                         director_name  ...  Rank
4498                      Sergio Leone  ...     5
4029                Fernando Meirelles  ...    18
4747                    Akira Kurosawa  ...    20
2373                    Hayao Miyazaki  ...    27
4259  Florian Henckel von Donnersmarck  ...    36
4921                      Majid Majidi  ...    40
4105                    Chan-wook Park  ...    49
4659                    Asghar Farhadi  ...    52
1329                    S.S. Rajamouli  ...    55
2970                 Wolfgang Petersen  ...    57
1298                Jean-Pierre Jeunet  ...    59
2323                    Hayao Miyazaki  ...    60
2734                        Fritz Lang  ...    73
4033                 Thomas Vinterberg  ...    75
2829               Oliver Hirschbiegel  ...    81
2047                    Hayao Miyazaki  ...    86
4000              Juan José Campanella  ...    98
3550                  Denis Villeneuve  ...   100
2551                Guillermo del Toro  ...   102
4267             Alejandro G. Iñárritu  ...   113
3553                      José Padilha  ...   120
3423                   Katsuhiro Ôtomo  ...   128
4461                 Thomas Vinterberg  ...   130
2830                Alejandro Amenábar  ...   135
2914                       Je-kyu Kang  ...   137
4284                        Ari Folman  ...   155
3456                 Vincent Paronnaud  ...   168
4897                      Sergio Leone  ...   192
3344                       Karan Johar  ...   201
4144                     Walter Salles  ...   204
3677              Christophe Barratier  ...   213
4640                   Cristian Mungiu  ...   223
4415                  Fabián Bielinsky  ...   229
1171                       Yimou Zhang  ...   245
2605                           Ang Lee  ...   246
3510                       Yash Chopra  ...   250

[36 rows x 15 columns]

 **Find the best directors**

   1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [60]:
# Create a pivot table using 'director_name' as index, 'imdb_score' as values, and 'mean' as aggfunc
# Sort the values by 'imdb_score'. Keep 'ascending' as 'False'
# Extract the top 10 from the dataframe created

# PS: If I had to find the worst 10 directors, I would have sorted the dataframe in an ascending order and again extrcated the first 10 rows

director = movie.pivot_table(values = 'imdb_score', index = 'director_name', aggfunc = 'mean')
director = director.sort_values(by = 'imdb_score', ascending = False)
director = director.iloc[:10, ]
director

                   imdb_score
director_name
Tony Kaye            8.600000
Charles Chaplin      8.600000
Alfred Hitchcock     8.500000
Damien Chazelle      8.500000
Ron Fricke           8.500000
Majid Majidi         8.500000
Sergio Leone         8.433333
Christopher Nolan    8.425000
Asghar Farhadi       8.400000
S.S. Rajamouli       8.400000

# Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` should be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [61]:
# Split the elements of the 'genre' column at the pipe characters ('|') using str.split()
# Assign the first elements of the rows of 'genre' column to a new column named 'genre_1' using 'apply()' and 'lambda' functions
# Some of the movies have only one genre. In such cases, assign the same genre to 'genre_2' as well

movie['genres'] = movie['genres'].str.split('|')
movie['genre_1'] = movie['genres'].apply(lambda x: x[0])
movie['genre_2'] = movie['genres'].apply(lambda x : x[1] if len(x) > 1 else x[0])
movie

         director_name  num_critic_for_reviews  ...    genre_1    genre_2
0        James Cameron                   723.0  ...     Action  Adventure
29     Colin Trevorrow                   644.0  ...     Action  Adventure
26       James Cameron                   315.0  ...      Drama    Romance
3024      George Lucas                   282.0  ...     Action  Adventure
3080  Steven Spielberg                   215.0  ...     Family     Sci-Fi
...                ...                     ...  ...        ...        ...
2334   Katsuhiro Ôtomo                   105.0  ...     Action  Adventure
2323    Hayao Miyazaki                   174.0  ...  Adventure  Animation
3005      Lajos Koltai                    73.0  ...      Drama    Romance
3859    Chan-wook Park                   202.0  ...      Crime      Drama
2988      Joon-ho Bong                   363.0  ...     Comedy      Drama

[3852 rows x 16 columns]

In [ ]:
# Group the dataframe using 'genre_1' as the primary column and 'genre_2' as secondary

movies_by_segment = movie.groupby(['genre_1', 'genre_2'])

In [63]:
# Create a new dataframe PopGenre which contains the 'mean' of the gross values of each combination of genres present
# Sort this dataframe using the 'gross' column and use index-based positioning to find out the five most popular genre combos

PopGenre = pd.DataFrame(movies_by_segment['gross'].mean()).sort_values(by = 'gross', ascending = False)
PopGenre.iloc[:5, ]

                          gross
genre_1   genre_2
Family    Sci-Fi     434.949459
Adventure Sci-Fi     228.627758
          Family     118.919540
          Animation  116.998550
Action    Adventure  109.595465

# Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [64]:
# Create a new dataframe containing Meryl Streep movies in which she is the lead actor

Meryl_Streep = movie.loc[movie.actor_1_name == 'Meryl Streep']
Meryl_Streep

       director_name  num_critic_for_reviews  ...    genre_1    genre_2
1408   David Frankel                   208.0  ...     Comedy      Drama
1575  Sydney Pollack                    66.0  ...  Biography      Drama
1204     Nora Ephron                   252.0  ...  Biography      Drama
1618   David Frankel                   234.0  ...     Comedy      Drama
410     Nancy Meyers                   187.0  ...     Comedy      Drama
2781  Phyllida Lloyd                   331.0  ...  Biography      Drama
1925  Stephen Daldry                   174.0  ...      Drama    Romance
3135   Robert Altman                   211.0  ...     Comedy      Drama
1106   Curtis Hanson                    42.0  ...     Action  Adventure
1674   Carl Franklin                    64.0  ...      Drama      Drama
1483  Robert Redford                   227.0  ...      Drama   Thriller

[11 rows x 16 columns]

In [73]:
# Create a new dataframe containing Leonardo DiCaprio movies in which he is the lead actor

Leo_Caprio = movie.loc[movie.actor_1_name == 'Leonardo DiCaprio']
Leo_Caprio

              director_name  num_critic_for_reviews  ...    genre_1    genre_2
26            James Cameron                   315.0  ...      Drama    Romance
97        Christopher Nolan                   642.0  ...     Action  Adventure
911        Steven Spielberg                   194.0  ...  Biography      Crime
296       Quentin Tarantino                   765.0  ...      Drama    Western
179   Alejandro G. Iñárritu                   556.0  ...  Adventure      Drama
452         Martin Scorsese                   490.0  ...    Mystery   Thriller
361         Martin Scorsese                   352.0  ...      Crime      Drama
50             Baz Luhrmann                   490.0  ...      Drama    Romance
3476           Baz Luhrmann                   490.0  ...      Drama    Romance
2757           Baz Luhrmann                   106.0  ...      Drama    Romance
1422        Randall Wallace                    83.0  ...     Action  Adventure
308         Martin Scorsese                   606.0  ...  Biography     Comedy
1453         Clint Eastwood                   392.0  ...  Biography      Crime
257         Martin Scorsese                   267.0  ...  Biography      Drama
2067             Jerry Zaks                    45.0  ...      Drama      Drama
990             Danny Boyle                   118.0  ...  Adventure      Drama
1114             Sam Mendes                   323.0  ...      Drama    Romance
1560              Sam Raimi                    63.0  ...     Action   Thriller
326         Martin Scorsese                   233.0  ...      Crime      Drama
641            Ridley Scott                   238.0  ...     Action      Drama
307            Edward Zwick                   166.0  ...  Adventure      Drama

[21 rows x 16 columns]

In [74]:
# Create a new dataframe containing Brad Pitt movies in which he is the lead actor

Brad_Pitt = movie.loc[movie.actor_1_name == 'Brad Pitt']
Brad_Pitt

              director_name  num_critic_for_reviews  ...    genre_1    genre_2
400       Steven Soderbergh                   186.0  ...      Crime   Thriller
255              Doug Liman                   233.0  ...     Action     Comedy
940             Neil Jordan                   120.0  ...      Drama    Fantasy
470              David Ayer                   406.0  ...     Action      Drama
254       Steven Soderbergh                   198.0  ...      Crime   Thriller
2204  Alejandro G. Iñárritu                   285.0  ...      Drama      Drama
2682         Andrew Dominik                   414.0  ...      Crime   Thriller
2898             Tony Scott                   122.0  ...     Action      Crime
2333    Angelina Jolie Pitt                   131.0  ...      Drama    Romance
1490        Terrence Malick                   584.0  ...      Drama    Fantasy
101           David Fincher                   362.0  ...      Drama    Fantasy
683           David Fincher                   315.0  ...      Drama      Drama
1722         Andrew Dominik                   273.0  ...  Biography      Crime
611     Jean-Jacques Annaud                    76.0  ...  Adventure  Biography
792         Patrick Gilmore                    98.0  ...  Adventure  Animation
147       Wolfgang Petersen                   220.0  ...  Adventure  Adventure
382              Tony Scott                   142.0  ...     Action      Crime

[17 rows x 16 columns]

In [75]:
# Combine the three dataframes using 'pd.concat()'

Combined = pd.concat([Meryl_Streep, Brad_Pitt, Leo_Caprio])
Combined

              director_name  num_critic_for_reviews  ...    genre_1    genre_2
1408          David Frankel                   208.0  ...     Comedy      Drama
1575         Sydney Pollack                    66.0  ...  Biography      Drama
1204            Nora Ephron                   252.0  ...  Biography      Drama
1618          David Frankel                   234.0  ...     Comedy      Drama
410            Nancy Meyers                   187.0  ...     Comedy      Drama
2781         Phyllida Lloyd                   331.0  ...  Biography      Drama
1925         Stephen Daldry                   174.0  ...      Drama    Romance
3135          Robert Altman                   211.0  ...     Comedy      Drama
1106          Curtis Hanson                    42.0  ...     Action  Adventure
1674          Carl Franklin                    64.0  ...      Drama      Drama
1483         Robert Redford                   227.0  ...      Drama   Thriller
400       Steven Soderbergh                   186.0  ...      Crime   Thriller
255              Doug Liman                   233.0  ...     Action     Comedy
940             Neil Jordan                   120.0  ...      Drama    Fantasy
470              David Ayer                   406.0  ...     Action      Drama
254       Steven Soderbergh                   198.0  ...      Crime   Thriller
2204  Alejandro G. Iñárritu                   285.0  ...      Drama      Drama
2682         Andrew Dominik                   414.0  ...      Crime   Thriller
2898             Tony Scott                   122.0  ...     Action      Crime
2333    Angelina Jolie Pitt                   131.0  ...      Drama    Romance
1490        Terrence Malick                   584.0  ...      Drama    Fantasy
101           David Fincher                   362.0  ...      Drama    Fantasy
683           David Fincher                   315.0  ...      Drama      Drama
1722         Andrew Dominik                   273.0  ...  Biography      Crime
611     Jean-Jacques Annaud                    76.0  ...  Adventure  Biography
792         Patrick Gilmore                    98.0  ...  Adventure  Animation
147       Wolfgang Petersen                   220.0  ...  Adventure  Adventure
382              Tony Scott                   142.0  ...     Action      Crime
26            James Cameron                   315.0  ...      Drama    Romance
97        Christopher Nolan                   642.0  ...     Action  Adventure
911        Steven Spielberg                   194.0  ...  Biography      Crime
296       Quentin Tarantino                   765.0  ...      Drama    Western
179   Alejandro G. Iñárritu                   556.0  ...  Adventure      Drama
452         Martin Scorsese                   490.0  ...    Mystery   Thriller
361         Martin Scorsese                   352.0  ...      Crime      Drama
50             Baz Luhrmann                   490.0  ...      Drama    Romance
3476           Baz Luhrmann                   490.0  ...      Drama    Romance
2757           Baz Luhrmann                   106.0  ...      Drama    Romance
1422        Randall Wallace                    83.0  ...     Action  Adventure
308         Martin Scorsese                   606.0  ...  Biography     Comedy
1453         Clint Eastwood                   392.0  ...  Biography      Crime
257         Martin Scorsese                   267.0  ...  Biography      Drama
2067             Jerry Zaks                    45.0  ...      Drama      Drama
990             Danny Boyle                   118.0  ...  Adventure      Drama
1114             Sam Mendes                   323.0  ...      Drama    Romance
1560              Sam Raimi                    63.0  ...     Action   Thriller
326         Martin Scorsese                   233.0  ...      Crime      Drama
641            Ridley Scott                   238.0  ...     Action      Drama
307            Edward Zwick                   166.0  ...  Adventure      Drama

[49 rows x 16 columns]

In [76]:
# Group the dataframe by 'actor_1_name'

Combined_by_segment = Combined.groupby('actor_1_name')

In [77]:
# Remember that we had some null values for the column 'num_critic_for_reviews'. Make sure that none of these null values are
# present in the new dataframe - 'Combined' that we have created

Combined.isnull().sum()

director_name             0
num_critic_for_reviews    0
gross                     0
genres                    0
actor_1_name              0
movie_title               0
num_voted_users           0
num_user_for_reviews      0
language                  0
budget                    0
title_year                0
imdb_score                0
movie_facebook_likes      0
profit                    0
genre_1                   0
genre_2                   0
dtype: int64

We are good to go!

In [79]:
# Find the mean of 'num_user_for_reviews' for each of the actor. Notice, Leonardo's is the highest

Combined_by_segment['num_user_for_reviews'].mean()

actor_1_name
Brad Pitt            742.352941
Leonardo DiCaprio    914.476190
Meryl Streep         297.181818
Name: num_user_for_reviews, dtype: float64

In [80]:
# Find the mean of 'num_critic_for_reviews' for each of the actor. In this case as well, Leonardo is leading

Combined_by_segment['num_critic_for_reviews'].mean()

actor_1_name
Brad Pitt            245.000000
Leonardo DiCaprio    330.190476
Meryl Streep         181.454545
Name: num_critic_for_reviews, dtype: float64